
 .item {
    list-style-type: decimal;
    font-weight: 500;
    letter-spacing: 0.02em;
  }

.link {
    text-decoration: underline;
    color: black;
  }
.text {
    composes: link;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
  @media screen and (max-width: 767px) {
    
    .materialsList .item {
      font-size: 10px;
      line-height: 1.6;
    }
  
    .materialsList .text {
      font-size: 10px;
      line-height: 1.6;
    }
  }
  
  @media screen and (min-width: 768px) {
  
  
  .item {
      font-size: 14px;
      line-height: 1.57;
      padding-right: 60px;
    }
  
     .text {
      font-size: 14px;
      line-height: 1.57;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .item {
      padding-right: 420px;
    }
  }